# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Folder
**/Weather_Hub_output/start/ServiceDefaults/obj/.
/Weather_Hub_output/start/ServiceDefaults/obj/.
Weather_Hub_output/start/ServiceDefaults/obj/.
**/Weather_Hub_output/start/ServiceDefaults/bin/.
/Weather_Hub_output/start/ServiceDefaults/bin/.
Weather_Hub_output/start/ServiceDefaults/bin/.

**/Weather_Hub_output/start/MyWeatherHub/obj/.
/Weather_Hub_output/start/MyWeatherHub/obj/.
Weather_Hub_output/start/MyWeatherHub/obj/.
**/Weather_Hub_output/start/MyWeatherHub/bin/.
/Weather_Hub_output/start/MyWeatherHub/bin/.
Weather_Hub_output/start/MyWeatherHub/bin/.

**/Weather_Hub_output/start/AppHost/obj/.
/Weather_Hub_output/start/AppHost/obj/.
Weather_Hub_output/start/AppHost/obj/.
**/Weather_Hub_output/start/AppHost/bin/.
/Weather_Hub_output/start/AppHost/bin/.
Weather_Hub_output/start/AppHost/bin/.

**/Weather_Hub_output/start/Api/obj/.
/Weather_Hub_output/start/Api/obj/.
Weather_Hub_output/start/Api/obj/.
**/Weather_Hub_output/start/Api/bin/.
/Weather_Hub_output/start/Api/bin/.
Weather_Hub_output/start/Api/bin/.
